<h1>Bienvenue sur notre site de Gossips</h1>
<p>Ceci est la page daccueil de notre application.</p>

<h2>Liste des Gossips</h2>
<ul>
  <% @gossips.each do |gossip| %>


    
    <%= link_to "/static_gossip/gossip/#{gossip.id}" do %>
      <li>
        <%= gossip.title %></strong>: <%= gossip.content %> - <%= gossip.user.first_name %>
      </li>
    <% end %>



  <% end %>
</ul>



<%= link_to "contact", static_contact_contact_path %>

<%= link_to "team", static_team_team_path %>